@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*메인폰트*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Cookie', cursive;*/

* {margin:0; padding:0;}

html{
      font-size: 16px;
}
body{
      font-size:16px;
      color:#333;
      font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li{
      list-style-type:none;
}
img, fieldset{
      border: none;
      vertical-align: middle;
}
hr {
      clear: both;
      border: none;
}/*:after{clear:both;}*/
a {
      color: inherit;
      text-decoration: none;
      outline: 0;
}
table{
      border-collapse:collapse
}
input, textarea, input::placeholder, input::placeholder {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: middle;
      outline: 0;
}
button{
      outline:0;
}

.sound_only{
      display: block;
      text-indent: -999999999999px;
      height: 0;
}
#wrap{
      max-width: 1920px;
}
.inner{
      max-width: 1200px;
      margin: 0 auto;
}
/*******/
#header{}
#header .inner{
      position: relative;
}
#header .header_top{
      float: right;
}
#header .logo{
      background-color: #ea1370;
      width: 240px;
      height: 80px;
      transition: 0.5s;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      padding-top: 10px;
}
#header .logo img{
      width: 20%;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(338deg) brightness(105%) contrast(101%);
}
#header .logo:hover{
      background-color: #fff;
}
#header .logo:hover img{
      filter: invert(21%) sepia(66%) saturate(6850%) hue-rotate(324deg) brightness(94%) contrast(96%);
}
/******nav*******/

#nav{
      float: left;
}
.all_nav {
      display:block;
      width:80px;
      height:80px;
      background-color: #000;
      transition: 0.5s;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;

}
.all_nav span{
      display: block;
      position: absolute;
      left: calc(50% - 20px);
      width: 40px;
      height: 3px;
      background-color: #fff;
}
.all_nav:hover{
      background-color: #fff;
}
.all_nav:hover span{
      background-color: #000;
}
.all_nav span:nth-child(1){
      top: 25px;
}
.all_nav span:nth-child(2){
      top: 35px;
}
.all_nav span:nth-child(3){
      top: 45px;
}

/***************************navpop**********************************/
#nav_pop{
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      z-index: 9999999999999;
      /**/display: none;
      background-color: #282222;
}
#nav_pop #nav_logo{
      width: 50px;
      margin: 20px 30px;
}
#nav_pop #nav_logo img{
      width: 100%;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(
            338deg
            ) brightness(105%) contrast(101%);
}
#nav_pop #nav_logo .nav_close{
      text-indent: -99999999999px;
      border: none;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: transparent;
      cursor: pointer;
}
#nav_pop .nav_close:before{
      content:'';
      display: block;
      width: 1px;
      height: 50px;
      background-color:#fff;
      transform:rotate(45deg);
      position: absolute;
      top: 10px;
      right: 50px;
}
#nav_pop .nav_close:after{
      content:'';
      display: block;
      width: 1px;
      height: 50px;
      background-color:#fff;
      transform:rotate(-45deg);
      position: absolute;
      top: 10px;
      right: 50px; 
}
/**/
#nav_pop .navpop_inner{
      max-width: 1024px;
      margin: 0 auto;
      position: relative;
      padding-top: 100px;
}
#nav_pop .navpop_inner:after{
      content:'';
      display: block;
      clear: both;
}
#nav_pop .left{
      position: absolute;
      bottom: 0;
      left: 0;
}

#nav_pop .nav_title{
      color: #fff;
      font-size: 1.4rem;
      letter-spacing: -.5px;
}
#nav_pop .nav_title > li:nth-child(1){
      transform: translateY(20px);
}
#nav_pop .nav_title > li:nth-child(2){
      font-size: 5rem;
      font-weight: 500;
      letter-spacing: -.30rem;
      margin-bottom: 40px;
}
#nav_pop .nav_title > li:nth-child(3){
      font-size: 1.7rem;
}
#nav_pop .right{
      /*position: absolute;
      top: 0;
      right: 0; bottom으로 내리지 못해서 float으로 수정함*/
      float: right;
}
#nav_pop .nav_list{
      color: #fff;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 2em;
      transition: 0.5s;
}
#nav_pop .home{
      width: 320px;
      height: 96px;
      font-size: 1.7rem;
      font-weight: 500;
      text-align: center;
      color: #fff;
      box-sizing: border-box;
      background-color: #ea1370;
      display: inline-block;
      padding: 25px 50px;
      margin-top: 50px;
      transition: 0.5s;
}
#nav_pop .home:hover{
      background-color: #fff;
      color: #ea1370;
}
#nav_pop .nav_list li:hover{
      color: #ea1370;
}
/**/
#header .main_title{
      font-size: 3.5rem;
      font-weight: 600;
      color: #000;
      letter-spacing: -.20rem;
      padding-top: 350px;
      padding-bottom: 250px;
      transition: 0.5s;
}
#header .main_img{
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      transition: 0.5s;
}

/*footer*/
#footer{
      /*background-color: #F9C2C3;*/
      padding: 30px 0;
      text-align: center;
      font-weight: 500;
}
#footer h1{
      display: inline-block;
      width: 50px;
      margin-bottom: 5px;
}
#footer h1 img{
      width: 100%;
      filter: invert(24%) sepia(86%) saturate(6080%) hue-rotate(324deg) brightness(93%) contrast(97%);
}



/********************/
@media all and (max-width:930px){
      #nav_pop .left {
            /*position: absolute;
            bottom: 0;
            left: 0;*/
            display: none;
        }
        #nav_pop .right {
            float: none;
            text-align: center;
        }
}

@media all and (max-width:780px){
      .all_nav {
            /*display: block;
            background-color: #000;
            transition: 1s;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;*/
            width: 50px;
            height: 50px;
        }
        .all_nav span {
            /*display: block;
            position: absolute;
            background-color: #fff;*/
            left: calc(50% - 15px);
            width: 30px;
            height: 2px;
        }
        .all_nav span:nth-child(1) {
            top: 12px;
        }
        .all_nav span:nth-child(2) {
            top: 22px;
        }
        .all_nav span:nth-child(3) {
            top: 32px;
        }
        #header .logo {
            /*
            background-color: #ea1370;
            transition: 0.5s;
            display: inline-block;
            text-align: center;
            box-sizing: border-box;*/
            width: 150px;
            height: 50px;
            padding-top: 0px;
        }
        #header .logo img {
            /*width: 20%;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(338deg) brightness(105%) contrast(101%);*/
            transform: translateY(-5px);
        }
        #header .inner {
            /*position: relative;*/
            max-width: 500px;
        }
        #header .main_title {
            /*font-size: 3.5rem;
            font-weight: 600;
            color: #000;
            letter-spacing: -.20rem;*/
            padding-top: 200px;
            padding-bottom: 200px;
        }
        #header .main_img {
            /*position: absolute;
            top: 0;
            z-index: -1;*/
            right: -200px;
        }
        #header .main_img img{
              width: 80%;
        }
        #sec .p_t {
              display: none;
        }
        #sec .picture2{
              display: none;
        }
}/*780*/
@media all and (max-width:550px){
      #header .main_title {
            font-size: 3rem;
        }
        #header .main_img {
            /*position: absolute;
            top: 0;
            z-index: -1;*/
            right: -150px;
        }

        #footer{
              padding: 0;
              padding-bottom: 20px;
        }
}/*550*/

@media all and (max-width:470px){
      #header .header_top {
            float: none;
        }
        #nav {
            float: right;
        }
      .all_nav {
            background-color: transparent;
      }
      .all_nav span{
            background-color: #000;
      }
      .all_nav:hover span {
            background-color: #ea1370;
        }
        #header .logo{
            width: 50px;
            /*height: 50px;*/
            background-color: transparent;
        }
        #header .logo img{
              width: 80%;
              filter: none;
              filter: invert(14%) sepia(83%) saturate(6604%) hue-rotate(327deg) brightness(98%) contrast(88%);
        }
        #header .main_title {
            font-size: 2.5rem;
            padding-top: 250px;
            padding-bottom: 0px;
        }
}/*470*/



  /*@media only screen and (max-width: 500px){
    body{
      transform: scale(.67);
    }
  }*/