@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*메인폰트*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/*로고폰트*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*font-family: 'Playfair Display SC', serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Monoton', cursive; 메인폰트
font-family: 'Sriracha', cursive; 로고폰트*/

* {margin:0; padding:0;}

html{
      font-size: 16px;
}
body{
      font-size:16px;
      color:#333;
      font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li{
      list-style-type:none;
}
img, fieldset{
      border: none;
      vertical-align: middle}
hr {
      clear: both;
      border: none;
}/*:after{clear:both;}*/
a {
      color: inherit;
      text-decoration: none;
      outline: 0;
}
table{
      border-collapse:collapse
}
input, textarea, input::placeholder, input::placeholder {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: middle;
      outline: 0;
}
button{
      outline:0;
}

.sound_only{
      display: block;
      text-indent: -999999999999px;
      height: 0;
}
#wrap{
      max-width: 1920px;
}
.inner{
      max-width: 1000px;
      margin: 0 auto;
}
/*******/
#header{}
#header .inner{
      position: relative;
}
#header .header_top{
      float: right;
}
#header .logo{
      width: 55px;
      background-color: #ea1370;
      width: 240px;
      height: 80px;
      transition: 0.5s;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      padding-top: 10px;
}
#header .logo img{
      width: 20%;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(338deg) brightness(105%) contrast(101%);
}
/******nav*******/

#nav{
      float: left;
}
.all_nav {
      display:block;
      width:80px;
      height:80px;
      background-color: #000;
      transition: 1s;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;

}
.all_nav span{
      display: block;
      position: absolute;
      left: calc(50% - 20px);
      width: 40px;
      height: 3px;
      background-color: #fff;
}
.all_nav span:nth-child(1){
      top: 25px;
}
.all_nav span:nth-child(2){
      top: 35px;
}
.all_nav span:nth-child(3){
      top: 45px;
}

/***************************navpop**********************************/
#nav_pop{
      position: fixed;
      width: 100%;
      min-width: 1024px;
      height: 100%;
      overflow: auto;
      z-index: 9999999999999;
      display: block;
      background-color: #282222;
}
#nav_pop #nav_logo{
      width: 50px;
      margin: 20px 30px;
}
#nav_pop #nav_logo img{
      width: 100%;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(
            338deg
            ) brightness(105%) contrast(101%);
}
#nav_pop #nav_logo .nav_close{
      text-indent: -99999999999px;
      border: none;
}
#nav_pop .nav_close:before{
      content:'';
      display: block;
      width: 2px;
      height: 20px;
      background-color:#fff;
      transform:rotate(45deg);
      position: absolute;
      top: 10px;
      right: 20px;
}
#nav_pop .nav_close:after{
      content:'';
      display: block;
      width: 2px;
      height: 20px;
      background-color:#fff;
      transform:rotate(-45deg);
      position: absolute;
      top: 10px;
      right: 20px; 
}
/**/
#nav_pop .navpop_inner{
      width: 1024px;
      margin: 0 auto;
      position: relative;
}
#nav_pop .left{
      position: absolute;
      top: 0;
      left: 0;
}

#nav_pop .nav_title{
      color: #fff;
      font-size: 1.4rem;
      letter-spacing: -.5px;
}
#nav_pop .nav_title > li:nth-child(1){
      transform: translateY(20px);
}
#nav_pop .nav_title > li:nth-child(2){
      font-size: 5rem;
      font-weight: 500;
      letter-spacing: -.30rem;
      margin-bottom: 40px;
}
#nav_pop .nav_title > li:nth-child(3){
      font-size: 1.7rem;
}
#nav_pop .right{
      position: absolute;
      top: 0;
      right: 0;
}
#nav_pop .nav_list{
      color: #fff;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 2em;
}
#nav_pop .home{
      width: 320px;
      height: 96px;
      font-size: 1.7rem;
      font-weight: 500;
      text-align: center;
      color: #fff;
      box-sizing: border-box;
      background-color: #ea1370;
      display: inline-block;
      padding: 25px 50px;
      margin-top: 50px;
}
/**/
#header .main_title{
      font-size: 3.5rem;
      font-weight: 600;
      color: #000;
      letter-spacing: -.20rem;
      padding-top: 350px;
      padding-bottom: 250px;
}
#header .main_img{
      position: absolute;
      top: 0;
      right: 0;
}

/*footer*/
#footer{
      /*background-color: #F9C2C3;*/
      padding: 10px 0;
      text-align: center;
      font-family: 'Sriracha', cursive;
      font-weight: 500;
}
#footer h1{
      display: inline-block;
      width: 50px;
}
#footer h1 img{
      width: 100%;
}
